<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style1.css">
    <title>Document</title>
</head>
<body>
    <h1>Assessment Configuration

    </h1>
 <form action="/auth/register" method="POST"> 
 


 <!-- Input from User -->
             <label for="title">Assessment Name:</label>
            <input type="text" placeholder='Text' id="name" name="title"><br>  

           <label for="date">   Assessment Date:</label>
            <input type="date" placeholder='Date picker' id="date" name="date"><br>

            <label for="company">Facility Name</label> 
            <input type="text" placeholder='company' id="company" name="company"><br>
           
            <label for="city">City/SiteName</label> 
            <input type="text" placeholder='city' id="city" name="city"><br>
             
               <label for="state">State/Province/Region</label>
            <input type="text" placeholder='state' id="state" name="state"><br> 
            <br>
          <h1>Assessment Options</h1>
         <input type="radio" name="Standard " id="">Standard
         <br>
            <button type="submit">Next ></button>



 
 </form>



</body>
</html>

