<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style3.css">
    <title>Document</title>
</head>
<body>
    <h1>ISO </h1>
    Category 1
 <form action="/assess/register" method="POST"> 
 

 <!-- Input from User -->
            <div  class="question">
              <span class="b">
            <p> does your managers , system administrators and users are made aware of the security risks    </p>
             <input type="radio" id="QuestionA1" name="Q1"  value="yes" >
             <label for="QuestionA1">yes</label>
             <input type="radio" id="QuestionB1" name="Q1" value="no">
             <label for="QuestionB1">no</label>
             <input type="radio" id="QuestionC1" name="Q1"  value="idk"  checked>
             <label for="QuestionC1">no answer</label>
            </span>

            <span class="b">

             <p>Do you have a password reuse limit </p>
             <input type="radio" id="QuestionA2" name="Q2" value="yes" >
             <label for="QuestionA2">yes</label>
             <input type="radio" id="QuestionB2" name="Q2" value="no">
             <label for="QuestionB2">no</label>
             <input type="radio" id="QuestionC2" name="Q2" value="idk" checked>
             <label for="QuestionC2">idk</label>
            </span>


             <span class="b">
             <p>Do you have an event detect and report system  </p>
             <input type="radio" id="QuestionA3" name="Q3"  value="yes" >
             <label for="QuestionA3">yes</label>
             <input type="radio" id="QuestionB3"  name="Q3" value="no" >
             <label for="QuestionB3">no</label>
             <input type="radio" id="QuestionC3" name="Q3"  value="idk" checked>
             <label for="QuestionC3">no answer</label>
            </span>
             


            </div>
          

            
              <br>   
            


              <button type="submit">show results </button>

 </form>



</body>
</html>